body{
  margin: 0;
  color: #ecd9c6;
  font-family: 'Droid Sans', arial, serif;
  font-family: 'Poiret One', cursive;
}
header {
  display: flex;
  width: 100vw;
  height: 20vh;
  margin-top: 0;
  border-bottom: double darkred;
}
h1 {
  margin-left: 4vw;
  font-size: 4vw;
  padding: 3vh;
  background-color: rgb(10,10,10);
  text-shadow: #ecd9c6 .5px .5px;
  color: darkred;
  border: 5px outset darkred;
}
.contact{
  display: flex;
  align-items: center;
  width: 60vw;
}
nav{
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: #ecd9c6;
  text-decoration: none;
  padding: 1.5vw;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: black;
  border-left: solid darkred;
  margin-left: 5vw;
}
a:visited {
  color: #ecd9c6;
  text-decoration: none;
}


@media only screen and (max-width: 700px) {
  * {
    font-size: 2.5vw;
  }
  a {
   padding: 1vw;
   margin-left: 1vw;
  }
    img {
    height: 20vh;
  }
  main {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh;
  }
  button {
    height: 20vh;
    width: 3vw;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none !important;
  }
  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boxes > p{
    margin-left: 4vw;
    margin-right: 4vw;
  }
  #textOne {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background-color: black;
    border-left: darkred solid thick;
  }
  #textTwo {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    background-color: black;
    border-left: darkred solid thick;
  }
  #slideshow {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    border-left: black solid thick;
  }
  #picTwo {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    border-left: black solid thick;
  }
  footer {
    background-color: darkred;
    width: 100vw;
    height: 5vh;
  }
}


@media only screen and (min-width: 700px) {

main {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  grid-template-rows: 10vw 10vw 10vw 10vw 10vw 10vw 1vw 1vw 1vw 1vw;
}
div > p {
  margin: 5vh;
}
#textOne {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 6;
  grid-row: 4 / 7;
  background-color: black;
}
#textTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 6 / 11;
  grid-row: 1 / 4;
  background-color: black;
}
#slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 6;
  grid-row: 1 / 4;
}
.mySlides {
  height: 28vw;
}
.pic {
  height: 28vw;
}
#picTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 6 / 11;
  grid-row: 4 / 7;
}
button {
  height: 40vh;
  width: 5vh;
  background-color: rgba(0,0,0,0);
  border: none;
  outline: none !important;
  z-index: +1;
}
button:hover{
  background-color: rgba(180,180,180,0.5);
}
.display-left{
  margin-right: -3vw;
}
.display-right{
  margin-left: -5vh;
}
footer {
  background-color: darkred;
  align-self: start;
  grid-row: 7;
  grid-column: 1 / 11;
  border-top: white solid;
}
}
